<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
<form action="/users/checkLogin" method="post">
    <p>
       用户名: <input type="text" name="username"/>
    </p>
    <p>
        <input type="submit" value="zxy"/>
    </p>
</form>
</body>
</html>