*{
    margin: 0;
    padding: 0;
}
img{
    border: none;
    display: block;
    /*图片类似于块级元素但不是块，需要变成块，才能无缝*/
}
a{
    text-decoration: none;
}
ul li{
    list-style: none;
}
html{
    width: 100%;
    height: 100%;
}
body{
    font-family: AvenirRoman, HelveticaNeue-Light, Helvetica Neue, arial, Hiragino Sans GB, Microsoft YaHei New, Microsoft Yahei,' ??????',' ????', SimSun, STXihei,' ???????', sans-serif;
    font-weight: 400;
    width: 100%;
    height: 100%;
}
/**header start*/
#header{
    height: 100px;
    padding: 0 38px;
    /*要学会利用padding去撑出高度，而不是一味的定位*/
}
#header>div{
    float: left;
}
#menu{
    width: 40%;
    margin-top: 37px;
}
#menu span{
    font-size: 12px;
    display:inline-block;
    /*?<span>和<a>都不是块级元素，不能设置margin-top-bottom*/
    margin: 4px 0 0 3px;
}
#logo{
    width: 20%;
    position: relative;
    height: 100%;
}
#logo img{
    width: 73px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin:-36px 0 0 -36px ;
}
#login{
    width: 40%;
    /*float: right;*/
   text-align: right;
    margin-top:37px;
    color:#4e4e4e;
    font-size: 16px;
    line-height: 20px;
}
#login a{
    color: #a98e67;
    font-size: 14px;
    font-weight: 700;
}
#login span.or{
    margin: 0 3px;
}
/**header end*/

/**banner start*/
#banner{
    width: 100%;
}
#banner #small{
    display: none;
}
#banner img{
    width: 100%;
}
/**banner end*/
/**vip start*/
#vip{
    width: 100%;
    overflow: hidden;
}
#vip img{
    width: 100%;
    height: auto;
    /*height: auto;默认值自适应，*/
}
/**vip end*/
/**club start*/
#club{
    background:#202020;
    text-align: center;
    padding: 90px 35px;
}
#club h2{
    font-size: 30px;
    font-weight: 400;
    line-height: 38px;
    color: #fffffe;
    margin:0 0 8px;
}
#club p{
    font-size: 18px;
    line-height: 32px;
    color: #999999;
}
#club .btns{
    margin-top: 55px;
}
.btns a{
    padding: 14px 40px;
    border: 2px solid #a98e67 ;
    color:#a98e67;
    display: inline-block;
    /*<span>和<a>都不是块级元素
    样式里面直接写margin-top、margin-bottom和padding-top、padding-bottom这几个属性都无效
    解决办法：在样式 中加入display:block;即可解决问题*/
    margin:0 14px;
}
.btns a:hover{
    color:#ffe;
    background: #a98e67;
}
/**club end*/
/**app start*/
#app{
    background: #e0e0e0;
    position: relative;
}
#text{
    width: 1130px;
    margin: 0 auto;
}
#box{
    width: 55%;
    padding: 210px 0;
}
#box h3{
    color:#a98e67;
    font-size:12px;
    font-weight: 900;
    font-family: AvenirBlack, 'HelveticaNeue-Light', 'Helvetica Neue', arial, "Hiragino Sans GB", "???????", "Microsoft YaHei New", "Microsoft Yahei", "??????",' ????', SimSun, STXihei, "???????", sans-serif;
    margin-bottom: 15px;
}
#box p{
    font-size: 26px;
    line-height: 40px;
    color: #3d3d3d;
    margin-bottom: 130px;
}
#btns a{
    padding: 12px 30px;
    margin: 0 30px 0 0;
}
#a-img{
    width: 47%;
    position: absolute;
    right: 0;
    bottom: 80px;
}
#load{
    display: none;
}
/**app end*/
/**photo start*/
#photo{
    overflow: hidden;
    /*这里的作用是清除浮动，为了在后面响应的时候，不会出空*/
}
.p-img{
    width: 50%;
    height: 0;
    padding-top: 50%;
    float: left;
    position: relative;
    background-size: cover;
}
.i-left{
    background-image: url("../images/left.jpeg");
}
.i-right{
    background-image: url("../images/homepage-grid.jpg");
}
.p-box{
    display: table;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.p-text{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

/**slide start*/
#slide{
    padding: 80px 10px;
}
.slide-box{
    width: 100%;
    overflow: hidden;
}
.slide-box ul{
    width: 2320px;
    position: relative;
}
#slide li{
    width: 280px;
    height: 280px;
    float: left;
    margin-right: 10px;
}
#slide li img{
    width: 100%;
    height: 100%;

}
#tab{
    text-align:center;
}
#tab span{
    width: 10px;
    height: 10px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background: #8f8f8f;
    display: inline-block;
    margin-top: 30px;
}
#tab span:hover{
    background: #a98e67;
}
#tab span.tabs{
    display: none;
}
/**slide end*/
/*媒体查询*/

@media (max-width: 1200px) {
    #text{
        width: 918px;
    }
}
@media (max-width: 991px) {
    /*banner*/
    #banner #small{
        display: block;
    }
    #banner #big{
        display: none;
    }
    #text{
        width: 720px;
    }

}

@media (max-width: 767px) {
    /*header*/
    #login{
        font-size: 12px;
        line-height: 15px;
    }
    #login a{
        font-size: 12px;
    }
    /**vip*/
    #vip img{
        height: 135px;
        width: auto;
    }
    /**club*/
    .btns a{
        width: 100%;
        padding: 14px 0;
        margin: 0;
    }
    #club .btns a:nth-child(2){
        margin-top: 22px;
    }
    /*app*/
    #app{
        padding: 0 30px 80px 30px;
    }
    #text{
        width: 100%;
    }
    #box{
        padding: 80px 0 0;
        width: 100%;
    }
    #box p{
        margin-bottom: 10px;
    }
    #a-img{
        position: static;
        float: right;
        width: 90%;
    }
    #btns{
        display: none;
    }
    #load{
        display: block;
        clear: both;
        /*清除上面图片浮动，让图片在高度里*/
    }
    #load a{
        width: 30%;
        border:2px solid #a98e67;
        height: 43px;
        line-height: 43px;
        display: block;
        text-align: center;
        color:#a98e67;
    }
    #load a:hover{
        color:#fffffe;
        background: #a98e67;
    }
    /**photo*/
    .p-img{
        float: none;
        width: 100%;
        padding-top: 100%;
    }
}

@media (max-width: 400px) {
    /*header*/
    #logo img{
        width: 100%;
        margin-top:-50%;
    }
}
/**slide*/
@media (max-width: 1159px) {
    #tab span.three{
        display:inline-block;
    }
}

@media (max-width: 869px) {
    #tab span.four{
        display: inline-block;
    }
}
@media (max-width: 768px) {
    .slide-box{
        width: 100%;

    }
    #slide{
        overflow: hidden;
        padding:80px 86px;

    }
}
/*菜单*/
#mask{
    width: 100%;
    height: 100%;
    opacity: 0.5;
    background: #6c6464;
    position:absolute;
    display: none;
}
#menu1{
    height: 100%;
    width: 20%;
    background: #292929;
    position: absolute;
    top: 0;
    display: none;
}
#menu1 a{
    color: #fff;
    display: inline-block;
    padding: 15px;
}
#menu1 .subMenu a{
    color: #aaaaaa;
    padding-left: 25px;
    display: none;
}
#menu1 .one a{
    color: #a98e67;
}
#menu1 .one a:hover{
    color: #aaaaaa;
}
/*#menu1 #one {*/
    /*border-bottom: 1px solid grey;*/
/*}*/
#menu1 .two:hover{
    color: #a98e67;
}
#menu1 ul>li{
    position: relative;
}
#menu1 span{
    border-width: 5px;
    border-color:white transparent transparent transparent ;
    border-style: solid;
    position: absolute;
    right: 5px;
    top: 25px;
    
}

